In [1]:
!pip install numpy

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (2.1.0)

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import seaborn as sns

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv("mlzoom laptops.csv")

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [5]:
df.shape

(2160, 12)

In [6]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [7]:
df.Brand.nunique()

27

In [8]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [9]:
'Dell' in df['Brand'].values

True

In [10]:
df[df['Brand'] == 'Dell']['Final Price'].max()

np.float64(3936.0)

In [11]:
 df.Screen.median()

np.float64(15.6)

In [12]:
screen_mode = df['Screen'].mode()[0]

In [13]:
screen_mode

np.float64(15.6)

In [14]:
df['Screen']= df['Screen'].fillna(screen_mode)

In [15]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [16]:
df['Screen'].median()

np.float64(15.6)

In [17]:
laptop_subset = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]

In [18]:
laptop_subset

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [19]:
laptop_subset = laptop_subset.reset_index(drop=True)

In [20]:
laptop_subset

   RAM  Storage  Screen
0    8      256    15.6
1    8      512    15.6
2    4       64    14.1
3    6       64    14.1
4    6      128    14.1
5    6      128    14.1

In [21]:
X = laptop_subset.to_numpy()

In [22]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [23]:
X_transpose = X.T

In [24]:
X_transpose

array([[  8. ,   8. ,   4. ,   6. ,   6. ,   6. ],
       [256. , 512. ,  64. ,  64. , 128. , 128. ],
       [ 15.6,  15.6,  14.1,  14.1,  14.1,  14.1]])

In [25]:
XTX = X_transpose.dot(X)

In [26]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [29]:
XTX_inverse = np.linalg.inv(XTX).round(2)

In [30]:
XTX_inverse

array([[ 0.28, -0.  , -0.1 ],
       [-0.  ,  0.  ,  0.  ],
       [-0.1 ,  0.  ,  0.04]])

In [32]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])